<template id="template1">
  <style>
   div#base {
     background-color: azure;
   }
  </style>
  <div id="base" style="width: 100%; height:100%">
    <div id="map-canvas" style="width: 95%; height: 95%;"></div>
  </div>
</template>
<script>
 var queue = [];

 function initializeMap() {
   queue.forEach(function (item) {
     item();
   });
 };

 var owner = document.currentScript.ownerDocument;

 document.addEventListener('DOMContentLoaded', function () {
   var script = owner.createElement('script');
   script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyD1_REBvlZH5RkerqDrmZ7Hzeq5RLpPPzI&callback=initializeMap';
   script.async = true;
   document.body.appendChild(script);
 });

 document.registerElement('masakura-map', {
   prototype: Object.create(HTMLElement.prototype, {
     createdCallback: {
       value: function () {
         var root = this.createShadowRoot();
         var node = document.importNode(owner.querySelector('#template1').content, true);
         root.appendChild(node);

         var latitude = this.getAttribute('latitude');
         var longitude = this.getAttribute('longitude');

         var canvas = root.querySelector('#map-canvas');
         queue.push(function () {
           this.map = new google.maps.Map(canvas, {
             zoom: 15,
             center: new google.maps.LatLng(latitude, longitude),
             mapTypeId: google.maps.MapTypeId.ROADMAP
           });
         }.bind(this));
       }
     },
     gotoOrigin: {
       value: function () {
         var latitude = this.getAttribute('latitude');
         var longitude = this.getAttribute('longitude');
         this.map.setCenter(new google.maps.LatLng(latitude, longitude));
       }
     }
   })
 });
</script>
